* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
    border-bottom: 1px solid black;
}
section {
    border: 1px solid black;
}


main{
    display: flex;
    justify-content: space-between;
}

#bloc1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#img2 {
    display: flex;
    justify-content: space-evenly;
}


#section1 {
    padding: 40px;
    display: flex;
    align-items: flex-start;
}

#section3 p {
    padding: 40px;
}

li {
    padding: 10px;
    color: blueviolet;
}

#section3 {

    display: flex;
    align-items: center;
}

#img2 img {
    padding: 15px;
    border-radius: 50%;
    object-fit: cover;
}

#section2 {

    padding: 20px;
}

#bloc1 img {
    border-radius: 50%;
    object-fit: cover;
}

#section1 , #section3  {

    width: 20%;
}

