 nav li:hover {
    background-color: green;
}

main h1::first-letter {
    color: greenyellow;
}


span  {
    color: tomato;
}

input:focus {
    background-color: yellow;
    padding: 6px;
} 


#subject {
    
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}
        

.action-button {
    padding: 8px 20px;
    float: left;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    background-color: grey;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


footer li:hover {
    background-color: indigo;
}

div p {
    animation-name: slide;
    animation-duration: 3s;
}

@keyframes slide {
        from {
            margin-left:100%;
            width: 300%;
            
        }

        to {
            margin-right: 0;
            width: 100%;
            
        }
}

