*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #d9c6a3;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: sticky;  
    
}

h4 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 5px;
}


span {
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
}

aside i{
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}

article {
    border: 1px solid black;
    
}

#agence {
    color: black;
}

main {
    position: relative;
}

#valeur {
    padding: 15px;
    color: black;
    font-size: bold;
    width: 30%;
    background-color: whitesmoke;
    position: absolute;
    top: 5%;
    left: 30%;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: slide;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#vision {
    padding: 25px;
    background-color: black;
    color: whitesmoke;
    font-size: bold;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

#img2 {
    margin-left: 45px;
    margin-top: 20px;
}



.img3 {
    position: absolute;
    top: 5%;
    left: 60%;
    animation-name: slide2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    
}

@keyframes slide2 {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.img1 {
    animation-duration: 1.5s;
    animation-name: slide;
    animation-iteration-count: 1;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}



.img2 {
    animation-duration: 1.5s;
    animation-name: slide;
    animation-iteration-count: 1;
}


@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.h4  {
    animation-duration: 1.5s;
    animation-name : slide3;
    animation-iteration-count: 1;
    
}

@keyframes slide3 {

    from {
        margin-bottom : 100%;
        height: 300%;
    }

    to {
        margin-bottom : 0%;
        height: 100%;
    }
}

button {
    padding: 16px;
    background: whitesmoke;
    color: #d9c6a3;
    border: 3px solid #d9c6a3;
    font-size: 16px;
    font-weight: bolder;
    position : absolute;
    top: 20%;
    left: 60%;
}