*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    
}

#logo {
    margin-left: -7;
}

header {
    padding: 15px;
    background-color: red;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    height: 60px;
}

main {

    margin-left: 30%;
    margin-right: 30%;
}

aside {
    width: 560px;
    height: 300px;
    border: 1px dashed black;
    position: fixed;
    top: 48px;
    left: 380px;
    background-color: whitesmoke;
}

#abonner {
    margin: 30px;
    height: 200px;
    padding: 20px;
    position: relative;
}

button {
    padding: 20px;
    color: white;
    width: 200px;
    background-color: red;
    font-size: 20px;
    border: none;
    border-bottom: 2px dashed white;
    margin-left: 110px;
    margin-top: 15px;
}

#croix{
    width: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
}

i {
    font-size: 30px;
    
}