*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.square {
    border: 1px solid black;
}

#square1 {

    width: 800px;
    height: 600px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

#square2 {

    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    
}

#square3 {

    width: 400px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 30px;
    
}

